body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #3e617f, #64a3a7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgb(228, 218, 218);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 30px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

button {
  background-color: #507752;
  color: white;
  border: none;
}

button:hover {
  background-color: #507752;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
